.bg-image{
    background-color: rgb(0,0,0);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-image, .shadow-in{
    box-shadow: inset -1px -1px 1rem -1px #222222;
}
.logo-img{
    max-height: 3rem;
}
.logo h1{
    line-height: 1;
    margin-top: 1rem;
}
.slideInRight {
    position: relative;
}
.slideInRight::before {
    content: " ";
    position: absolute;
}
